@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
freestar
freestar

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod, tellus non porttitor mattis, metus nunc varius felis, et iaculis massa orci a dolor. Sed vulputate, risus ut ultricies pellentesque, risus sapien iaculis erat, sed pulvinar nisl nulla quis metus. In quis turpis ex. Integer mattis luctus nunc, eget hendrerit dui condimentum a. Vestibulum dapibus ullamcorper nisi, ut dapibus sapien consequat at. Maecenas sed neque at augue tincidunt tincidunt eget et sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec pharetra finibus mollis. Proin sed ex porttitor, fermentum lectus ac, accumsan dui. Duis ac purus id est tincidunt consequat. Fusce sollicitudin, est malesuada scelerisque faucibus, orci urna tristique sapien, sit amet faucibus ante urna ac tortor. 
</div>
